body {
margin: 0;
padding: 0;
}
p {
margin: 0;
padding: 0;
}
#gameContainer {
margin: 25px;
width: 803px;
height: 500px;
}
#gameField {
float: left;
height: 500px;
width: 500px;
border: solid 1px #000;
background-image:url('img/bgl.png');
}
#infoField {
border: solid 1px #000;
border-left: none;
float: right;
clear: both;
width: 300px;
height: 500px;
background-image:url('img/bgr.png');
z-index: 950;
overflow-y: scroll;
}
#infoField > * {
margin: 0 10px 0 10px;
font-family: serif;
}
#infoField > p {
font-size: 13px;
line-height: 1.25;
}
#infoField > h3 {
margin-top: 20px;
margin-bottom: 7px;
text-align: center;
font-size: 16px;
}
div[id^="e_"]::before {
content: " ";
background-image:url('img/viewfield.png');
background-repeat: no-repeat;
padding-left: 68px;
margin-left: -68px;
padding-top: 62px;
margin-top: -62px;
width: 187px;
height: 187px;
z-index: 900;
position: absolute;
}
