body {
margin: 0;
padding: 0;
}
p {
margin: 0;
padding: 0;
}
#gameContainer {
margin: 25px;
width: 803px;
height: 500px;
}
#gameField {
float: left;
height: 500px;
width: 500px;
border: solid 1px #000;
background-image:url('img/bgl.png');
}
#infoField {
border: solid 1px #000;
border-left: none;
float: right;
clear: both;
width: 300px;
height: 500px;
background-image:url('img/bgr.png');
}
#infoField > * {
margin: 0 10px 0 10px;
font-family: serif;
}
#infoField > p {
font-size: 13px;
}
#infoField > h3 {
margin-top: 25px;
margin-bottom: 12px;
text-align: center;
font-size: 16px;
}
